@model FoodTruckWebsite.Models.Menu

@{
    ViewBag.Title = "Index2";
}

<h2>Burger K</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.foodTruckName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodTruckName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodItem1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodItem1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodItem2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodItem2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodItem3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodItem3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodItem4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodItem4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodItem5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodItem5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemPrice1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemPrice1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemPrice2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemPrice2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemPrice3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemPrice3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemPrice4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemPrice4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemPrice5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemPrice5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
